
.nav {
    grid-area: n;
    background-color: green;
    height: 100%;
    padding: 20px;
}
.nav a {
    text-decoration: none;
    /*color: white;*/
}
.item {
    color: yellow;
}

.active {
    color: orange;
 }
